{
    "0" : {
        "type" : "mcts",
        "strat" : "random"
    },
    "1" : {
        "type" : "mcts",
        "strat" : "random"
    },
    "2" : {
        "type" : "simple",
        "strat" : "random"
    },
    "3" : {
        "type" : "bt",
        "strat" : "random"
    },
    "4" : {
        "type" : "htn",
        "strat" : "random"
    },
    "5" : {
        "type" : "htn",
        "strat" : "random"
    },
    "6" : {
        "type" : "bt",
        "strat" : "random"
    },
    "7" : {
        "type" : "simple",
        "strat" : "random"
    }
}