[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
monte-carlo-tree-search = "*"
matplotlib = "*"
pyqt6 = "*"
simpn = "*"
xdevs = "*"
py-trees = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
